@using CarDealer.Models.ViewModels
@model CarDealer.Models.ViewModels.Parts.EditPartViewModel

@{
    ViewBag.Title = "Edit Part";
}

<h2>Edit part - @Model.Name</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form class="form-horizontal" method="post">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-sm-2">Price</label>
            <div class="col-md-10">
                <input class="form-control" name="Price" id="Price" type="number" value="@Model.Price" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Quantity</label>

            <div class="col-md-10">
                <input class="form-control" name="Quantity" id="Quantity" type="number" value="@Model.Quantity" />
            </div>
        </div>
        <input type="number" name="Id" hidden="hidden" value="@Model.Id" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-warning" />
            </div>
        </div>
    </form>
}


