@using CarDealer.Models.ViewModels
@model CarDealer.Models.ViewModels.Car.DetailedCarViewModel

@{
    ViewBag.Title = "Car Info";
}

<h2>@Model.Car.Make</h2>
<h3>@Model.Car.Model</h3>
<h3>@Model.Car.TravelledDistance</h3>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Parts.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parts.First().Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Parts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
